USE [master]
GO
/****** Object:  Database [QLHANG]    Script Date: 13/12/2022 2:12:27 CH ******/
CREATE DATABASE [QLHANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLHANG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSEVER\MSSQL\DATA\QLHANG.mdf' , SIZE = 20480KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLHANG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSEVER\MSSQL\DATA\QLHANG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLHANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLHANG]
GO
/****** Object:  Table [dbo].[HangXuat]    Script Date: 13/12/2022 2:12:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--------------------- test02 ----------------------------
--- câu 1 ---
CREATE TABLE [dbo].[HangXuat](
	[MaHD] [nchar](10) NOT NULL,
	[MaVT] [nchar](10) NOT NULL,
	[DonGia] [money] NULL,
	[SLBan] [tinyint] NULL,
 CONSTRAINT [PK_HangXuat] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HDBan]    Script Date: 13/12/2022 2:12:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HDBan](
	[MaHD] [nchar](10) NOT NULL,
	[NgayXuat] [smalldatetime] NULL,
	[HoTenKhach] [nchar](40) NULL,
 CONSTRAINT [PK_HDBan] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VatTu]    Script Date: 13/12/2022 2:12:27 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VatTu](
	[TenVT] [nchar](10) NULL,
	[MaVT] [nchar](10) NOT NULL,
	[DVTinh] [nchar](10) NULL,
	[SLCon] [smallint] NULL,
 CONSTRAINT [PK_VatTu] PRIMARY KEY CLUSTERED 
(
	[MaVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HangXuat] ([MaHD], [MaVT], [DonGia], [SLBan]) VALUES (N'001       ', N'1a        ', 500.0000, 1)
INSERT [dbo].[HangXuat] ([MaHD], [MaVT], [DonGia], [SLBan]) VALUES (N'002       ', N'1b        ', 60000000.0000, 1)
INSERT [dbo].[HangXuat] ([MaHD], [MaVT], [DonGia], [SLBan]) VALUES (N'003       ', N'1a        ', 500.0000, 1)
GO
INSERT [dbo].[HDBan] ([MaHD], [NgayXuat], [HoTenKhach]) VALUES (N'001       ', CAST(N'2020-06-23T00:00:00' AS SmallDateTime), N'Nguyễn Văn A                            ')
INSERT [dbo].[HDBan] ([MaHD], [NgayXuat], [HoTenKhach]) VALUES (N'002       ', CAST(N'2021-11-15T00:00:00' AS SmallDateTime), N'nguyễn Thị B                            ')
GO
INSERT [dbo].[VatTu] ([TenVT], [MaVT], [DVTinh], [SLCon]) VALUES (N'Chuột MT  ', N'1a        ', N'cái       ', 569)
INSERT [dbo].[VatTu] ([TenVT], [MaVT], [DVTinh], [SLCon]) VALUES (N'Screen LG ', N'1b        ', N'cái       ', 352)

--- câu 2 ---
use QLHANG
go
select top 1 MaHD, sum(DonGia) 
as TongTien 
from HangXuat 
group by MaHD, DonGia 
order by DonGia desc
go
 
 select * from HangXuat

 --- câu 3 ---
create function cau3 (@MaHD nchar(10))
returns @tb table (MaHD nvarchar(5), NgayXuat smalldatetime, MaVT nchar(510, DonGia money,
SLBan tinyint, NgayThu smalldatetime) 
as
	begin
		insert into @tb
		select A.MaHD, NgayXuat, B.MaVT, DonGia, SLBan, NgayXuat as 'Ngay Thu'
		from VatTu B inner join HangXuat on B.MaVT = HangXuat.MaVT inner join HDBan A on 
		A.MaHD = HangXuat.MaHD where A.MaHD = @MaHD
		return
	end
select * from cau3('HD1')

GO
USE [master]
GO
