USE [master]
GO
/****** Object:  Database [QLHANG]    Script Date: 13/12/2022 2:52:07 CH ******/
CREATE DATABASE [QLHANG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLHANG', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLHANG.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLHANG_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QLHANG_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLHANG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLHANG]
GO
/****** Object:  Table [dbo].[HangXuat]    Script Date: 13/12/2022 2:52:07 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangXuat](
	[MaHD] [nchar](10) NOT NULL,
	[MaVT] [nchar](10) NOT NULL,
	[DonGia] [money] NULL,
	[SLBan] [tinyint] NULL,
 CONSTRAINT [PK_HangXuat] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HDBan]    Script Date: 13/12/2022 2:52:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HDBan](
	[MaHD] [nchar](10) NOT NULL,
	[NgayXuat] [smalldatetime] NULL,
	[HoTenKhach] [nchar](40) NULL,
 CONSTRAINT [PK_HDBan] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VatTu]    Script Date: 13/12/2022 2:52:08 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VatTu](
	[MaVT] [char](4) NOT NULL,
	[TenVT] [varchar](20) NULL,
	[DVTinh] [varchar](10) NULL,
	[SLCon] [int] NULL,
 CONSTRAINT [pk_kh] PRIMARY KEY CLUSTERED 
(
	[MaVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HangXuat] ([MaHD], [MaVT], [DonGia], [SLBan]) VALUES (N'001       ', N'aa        ', 3000.0000, 1)
INSERT [dbo].[HangXuat] ([MaHD], [MaVT], [DonGia], [SLBan]) VALUES (N'002       ', N'bb        ', 199.0000, 2)
GO
INSERT [dbo].[HDBan] ([MaHD], [NgayXuat], [HoTenKhach]) VALUES (N'001       ', CAST(N'2020-02-10T00:00:00' AS SmallDateTime), N'Nguyễn Thanh Tâm                        ')
INSERT [dbo].[HDBan] ([MaHD], [NgayXuat], [HoTenKhach]) VALUES (N'002       ', CAST(N'2021-07-15T00:00:00' AS SmallDateTime), N'Phạm Hoài Anh                           ')
GO
INSERT [dbo].[VatTu] ([MaVT], [TenVT], [DVTinh], [SLCon]) VALUES (N'aa  ', N'Dong ho', N'cái       ', 234)
INSERT [dbo].[VatTu] ([MaVT], [TenVT], [DVTinh], [SLCon]) VALUES (N'bb  ', N'Vong tay', N'cái       ', 198)
GO
USE [master]
GO
---cau 2
use QLHANG
go
select top 1 MaHD, sum(DonGia) 
as TongTien 
from HangXuat 
group by MaHD, DonGia 
order by DonGia desc
 
 select * from HangXuat

 --cau 3
create function cau3 (@MaHD nvarchar(5))
returns @tb table (MaHD nvarchar(5), NgayXuat smalldatetime, MaVT nvarchar(5), DonGia money,
SLBan int, NgayThu smalldatetime) 
as
	begin
		insert into @tb 
		select A.MaHD, NgayXuat, B.MaVT, DonGia, SLBan, NgayXuat as 'Ngay Thu'
		from VatTu B inner join HangXuat on B.MaVT = HangXuat.MaVT inner join HDBan A on 
		A.MaHD = HangXuat.MaHD where A.MaHD = @MaHD
		return
	end
select * from cau3('HD1')